{% extends "base.html" %}
{% block title %}프로필{% endblock %}
{% block body %}
<section>
	<div class="col-33 col-m-100 col--center">
        <form action="{% url 'sentinel:profile' %}" method="POST">
            {% csrf_token %}
            <div class="section__title">프로필</div>
			<div class="form-section">
				<div class="form__title">이름*</div>
				{{ form.name }}
				<div class="form__title">소속</div>
				{{ form.organization }}
				<div class="form__title">사진</div>
				<button class="btn--tiny btn--black">파일 선택</button>
				{{ form.image }}
				<div class="form__caption">최대 크기 5 MB / Minimum dimension is 500 x 500</div>
				<div class="form__title">자기소개</div>
				{{ form.biography }}
			</div>
			<button type="submit" class="btn--wide btn--important">제출</button>
		</form>
	</div>
</section>
{% endblock %}